
<p id="notice"><%= notice %></p>

<div class="container-fluid">
      <div class="row">
        <div class="column m-auto">
          <div class="card bg-light mb-3" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">New Department</h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p class="card-text"><p>
                  <h1></h1>

                    <%= render 'form', department: @department %>
                    
                    
              <button type="button" class="btn btn-outline-primary"><%= link_to 'Back', departments_path %>  </button>
            </div>
          </div>
        </div>
      </div>
    </div>